<style>
    .instagram-section {

    }
    .eapps-instagram-feed-posts-item-image {
        border-radius: 6px;
    }
    .eapps-instagram-feed-posts-grid-load-more-visible {
        display: none;
    }
</style>

<div class="max-w-8xl pb-24 mx-auto">
    <div class="mx-2 sm:mx-6 md:mx-12 instagram-section">
        <div class="md:flex items-center max-w-8xl mx-auto pt-24 pb-6 pr-8 lg:pr-12">
            <h2 class="w-full md:w-1/2 xl:w-auto pb-2 leading-none pr-5">Connect With Us</h2>
            <p class="w-full md:w-1/2 xl:w-auto text-green-700">No matter where you go, stay connected with us on Instagram, <a href="https://www.instagram.com/bulloch.academy/" target="_blank" class="text-green-100 hover:underline">@bulloch.academy.</a></p>
        </div>
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-d580278b-ea37-4abf-8fe6-eb197f4f6710"></div>
    </div>
</div>