<style>
    .four-o-four-page {
        background-image: url('https://inside.bullochacademy.com/wp-content/uploads/2021/09/gator-transparent.png');
    }
</style>

<div class="flex flex-wrap bg-cover xxxl:bg-contain bg-center bg-no-repeat mx-auto py-40 px-4 lg:px-16 four-o-four-page">
    <div class="w-full text-center">
        <h1 class="text-5xl font-bold leading-none">{{ 404Page.heroTitle }}</h1>
        <p class="max-w-md mx-auto pt-6 pb-12">{{ 404Page.heroParagraph }}</p>
        {% include "global/quick-links-section.njk" %}
    </div>
</div>