{% set newsItem = [] %}
{% for item in news %}
    {% if item.disabled !== "Yes" %}
        {% set newsItem = (newsItem.push({id: item.id, title: item.title, slug: item.slug, sdate: item.date, excerpt: item.excerpt, featImg: item.featImg, featImgAlt: item.featImgAlt}), newsItem) %}
    {% endif %}
{% endfor %}

{% for item in newsItem %}
{% if loop.index0 == 0 %}
<div class="relative flex flex-wrap max-w-8xl mx-auto">
    <style>
        .desktop-hero-img {
            background-image: url('{{ item.featImg }}');
            width: 93%;
            height: 330px;
            border-radius: 6px;
        }

        .mobile-hero-img {
            background-image: url('{{ item.featImg }}');
            width: 100%;
            height: 200px;
        }
    </style>
    <div class="lg:hidden w-full bg-cover bg-center mobile-hero-img">

    </div>
    <div class="w-full md:w-2/3 lg:w-7/12 xl:w-2/3 pl-4 lg:pl-12 pr-4 lg:pr-0">
        <div id="hero-title-box" class="mt-8 mb-6">
            <h6 class="text-sm text-green-200 uppercase tracking-widest">School News & Updates</h6>
            <h1 class="text-4xl md:text-h1-init leading-none">{{ item.title }}</h1>
        </div>
        <div class="hidden lg:block absolute left-0 w-full bg-cover bg-center ml-12 z-50 desktop-hero-img">

        </div>
        <div class="max-w-xl xl:max-w-2xl pb-12 md:pb-24 lg:pl-16 pr-4 md:pr-16 lg:pr-32 after-hero-white-bk-content">
            <div class="wysiwig-block">{{ item.excerpt | safe }}</div>
            <a href="{{ item.slug }}" class="md:hidden">
                <button class="mt-6 green-button">Read article</button>
            </a>
        </div>
    </div>
    <div class="relative w-full md:w-1/3 lg:w-5/12 xl:w-1/3 bg-gold-50 -mb-16 lg:pr-12 z-10">
        <div class="hidden md:block absolute bottom-0 left-0 right-0 text-center pb-32 px-4">
            <a href="{{ item.slug }}">
                <button class="green-button">Read article</button>
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}

<style>
    .news-listing-box {
        transition: 0.25s;
    }
    .news-listing-img {
        border-radius: 6px;
    }
    .news-listing-box:hover h5 {
        color: #218461;
        transition: 0.25s;
    }
</style>

<div class="flex flex-wrap max-w-8xl mx-auto py-24 md:px-6">
    {% for item in newsItem %}
        {% if loop.index > 1 %}
            <div class="w-full sm:w-1/2 lg:w-1/3 px-4 md:px-6 news-listing-box">
                <a href="{{ item.slug }}">
                    <img class="news-listing-img" src="{% if item.featImg %}{{ item.featImg }}{% else %}https://inside.bullochacademy.com/wp-content/uploads/2021/09/news-example.jpg{% endif %}" />
                </a>
                <a href="{{ item.slug }}">
                    <h5 class="pt-4">{{ item.title }}</h5>
                    <button class="mt-1 mb-8 arrow-button">Read article</button>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% include "global/pre-footer-cta.njk" %}
